#what-is-reactive, .what-is-reactive {
  text-align: center;
}

.what-is-reactive {
  display: none;
}

.what-is-reactive.active {
  display: block;
}

#what-is-reactive h1, .what-is-reactive h1 {
  padding-top: 3em;
}

.what-is-reactive span {
  text-align: left;
}

.what-is-reactive span ul {
  margin-left: 6em;
  line-height: 3em;
}

.what-is-reactive span ul li.highlight {
  color: red;
}
